:root {
    --accent-color: #8d8d8d;
    --dark-color: #191919;
    --light-color: #fff;
    --grey-color: #dbdbdb;
    --light-grey-color: #fafafa;
    --primary-color: #6995B1;
    --light-primary-color: #eef1f3;
}

.description .swiper {
    height: 400px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description .swiper .swiper-wrapper {
    height: initial;
}

.Description-title {
    color: var(--primary-color);
}

@media (max-width: 700px) {
    .description {
        flex-direction: column;
    }

    .description .swiper {
        text-align: center;
    }

    .description .icons-description {
        text-align: center;
        width: 100%;
        margin-top: 100px;
    }
    .description  .icons-description .icon{
        width: 50% !important;
        height: 50% !important;
    }

    .description .swiper .Description-slider p {
        font-size: 18px !important;
    }

}