:root {
    --accent-color: #8d8d8d;
    --dark-color: #191919;
    --light-color: #fff;
    --grey-color: #dbdbdb;
    --light-grey-color: #fafafa;
    --primary-color: #6995B1;
    --light-primary-color: #eef1f3;
}
.Footer{
    flex-direction: ;
}
.footer-liks .brg{
    text-decoration: none;
}
.footer-Service .brg{
    text-decoration: none;
}
.footer-Forever .btn-icon:hover{
    color: #6995B1;
    cursor: pointer;
}
