:root {
    --accent-color: #8d8d8d;
    --dark-color: #191919;
    --light-color: #fff;
    --grey-color: #dbdbdb;
    --light-grey-color: #fafafa;
    --primary-color: #6995B1;
    --light-primary-color: #eef1f3;
}

.footer-liks .brg{
    text-decoration: none;
}
.footer-Service .brg{
    text-decoration: none;
}
.footer-Forever .btn-icon:hover{
    color: #6995B1;
    cursor: pointer;
}

@media (max-width: 600px) {
    .Footer{
        text-align: center !important;
    }
    .footer-Forever .icons{
        margin: 50px auto;
    }
    .main-footer{
        width: 100% !important;
        padding: 20px 0 !important;
        text-align: center;
        display: flex !important;
        flex-direction: column;
    }
    .main-footer h5{
        font-size: 14px !important;
    }
}
