:root{
    --Color-Gred: #656565 ;
}
.NavBarHd{
    z-index: 100 !important;
   margin: auto;
   width: 100%;
   /* flex-direction: column; */
}
.navbar{
    width: 100% !important;
    margin: auto;
    padding: 10px 20px;
    z-index: 10;
    /* position: relative; */
}
.Gred{
    color: var(--Color-Gred) !important;
}
.scrollbg{
    background-color: #ffffff !important;
}