:root {
    --accent-color: #8d8d8d;
    --dark-color: #191919;
    --light-color: #fff;
    --grey-color: #dbdbdb;
    --light-grey-color: #fafafa;
    --primary-color: #6995B1;
    --light-primary-color: #eef1f3;
}

.Products{
    background-color: var(--light-grey-color);
    align-items: center;
}

.Products .group{
    overflow: auto !important;
}
.Products .group button{
    margin: auto !important;
}

@media (max-width: 700px) {
    .css-kncgbn-MuiToggleButtonGroup-root{
        justify-content: center !important;
    }
}

.select form input{
    outline: none;
    height: 50px;
}
.select form button{
    outline: none;
    height: 50px;   
    width: 140px;
    border-radius: none !important;
    border: none;
    background-color: #9c27b0;
    color: var(--light-color);
}
@media (max-width: 700px) {
    .select form{
        text-align: center !important;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .select form button{
        margin: auto;
    }
}
