:root {
    --accent-color: #8d8d8d;
    --dark-color: #191919;
    --light-color: #fff;
    --grey-color: #dbdbdb;
    --light-grey-color: #fafafa;
    --primary-color: #6995B1;
    --light-primary-color: #eef1f3;
}
.Services{
    padding: 80px 0 !important;
}
.Services .Services-box .icon{
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .Services{
        gap: 100px;
        flex-direction: column !important;
    }
    .Services .Services-box{
        flex-direction: column !important;
        gap: 20px;
    }
    .Services .Services-box .icon{
        font-size: 140px !important;
    }
    .Services .Services-box h6{
        font-size: 40px !important;
    }
    .Services .Services-box p{
        font-size: 20px !important;
    }
}