:root {
    --accent-color: #8d8d8d;
    --dark-color: #191919;
    --light-color: #fff;
    --grey-color: #dbdbdb;
    --light-grey-color: #fafafa;
    --primary-color: #6995B1;
    --light-primary-color: #eef1f3;
}
.About{
    padding-top: 100px;
}
.About .bg-img {
    background-image: url(https://themewagon.github.io/ultras/images/hero-image.jpg);
    background-position: 50% , 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
}
.About h3{
    font-size: 160px;
}

.About .links{
    height: 70vh;
}

.content-About{
    background-color: #ffffff;
    z-index: 1000;
}

.content-About .desc-about .flex-column h4{
    font-size: 60px;
}
.content-About .desc-about .flex-column .brg{
    font-size: 22px;
    width: 90%;
    line-height: 40px;
}
.content-About .desc-about .flex-column .btn-Shop {
    background-color: #000 !important;
    color: #fff;
    width: 50%;
}
@media (max-width: 1200px) {
    .content-About .desc-about .flex-column .brg{
        font-size: 20px;
        width: 100%;
        line-height: 30px;
    }
    .content-About .desc-about .flex-column h4 {
        font-size: 30px;
        margin: 0;
    }
    .content-About .desc-about .flex-column .btn-Shop {
        width: 65%;
    }
}
@media (max-width: 992px) {
    .About h3 {
        font-size: 100px;
    }
    .content-About .desc-about .flex-column .brg{
        font-size: 24px;
        width: 100%;
        line-height: 33px;
        margin: 20px 0;
    }
    .content-About .desc-about .flex-column h4 {
        font-size: 50px;
        padding: 0px 0;
        margin: 0;
    }
    .content-About .desc-about .flex-column .btn-Shop {
        width: 65%;
        margin: auto;
    }
}
@media (max-width: 500px) {
    .About h3 {
        font-size: 60px;
    }
    .content-About .desc-about .flex-column .brg {
        font-size: 19px;
        width: 100%;
        line-height: 28px;
        margin: 20px 0;
    }
    .content-About .desc-about .flex-column h4 {
        font-size: 30px;
        padding: 2px 0;
        margin: 0;
    }
    .content-About .desc-about .flex-column .btn-Shop {
        width: 90%;
        margin: auto;
    }
}